$color_-_black--opacity-50                         : rgba(0,0,0,0.5);
$box-shadow-color_-_app__page                      : $color_-_black--opacity-50;
$background-color_-_app__page                      : #bdbdbd;
$background-color_-_app__content                   : #ffffff;
$background-color_-_users-table-th                 : #dddddd;
$background-color_-_users-table-tr--nth-child-2n   : #ffffff;
$background-color_-_users-table-tr--nth-child-2n-1 : #eeeeee;
$border-color_-_users-table-td                     : #cccccc;
$border-color_-_users-table-th                     : #cccccc;
$background-color_-_navigation                     : #666666;
$color_-_navigation__link                          : #ffffff;
